/* CREATE A FOLDER IN THE PUBLIC FOLDER CALLED "fonts" */

@font-face {
  font-family: 'IranSans';
  src: url('assets/fonts/IRANSansWeb.eot') format('embedded-opentype'),
    url('assets/fonts/IRANSansWeb.woff') format('woff'),
    url('assets/fonts/IRANSansWeb.ttf') format('truetype');
  font-weight: normal !important;
  font-style: normal !important;
}

/* All Pages     ------------------------  */
*:not(i) {
  font-family: IranSans, sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility !important;
}

.header .forum-logo {
  max-height: 23px !important;
  margin-top: 14px !important;
  padding-right: 8px !important;
}

.header .forum-title {
  display: none;
}

@media (max-width: 1199px) {
  .menu-section-list a,
  .menu-section-list button {
    padding: 14px 20px;
    font-size: 17px;
    color: rgb(212, 212, 212);
  }

  .menu-section-list i {
    margin-right: 10px;
    color: rgb(99, 99, 99);
  }
}

.navbar-nav > li > .dropdown-menu {
  border: transparent;
  margin-top: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header #chat_dropdown {
  display: none;
}

.dropdown-menu > li > a:hover {
  background-color: transparent;
  color: #ed4b6f !important;
}

.breadcrumb a {
  color: #d8d8d8 !important;
  font-size: 0.9em;
}

.breadcrumb > .active {
  color: #ed4b6f !important;
}

.btn-default {
  border-color: #f3f3f3;
  border-radius: 10px;
}

.btn-primary {
  background-color: #ed4b6f !important;
  color: #fff !important;
  border: transparent;
  border-radius: 10px;
}

.custom-footer {
  align-items: center !important;
  color: aqua;
}

.pull-right > .dropdown-menu {
  border-radius: 10px;
  border: 1px solid rgb(231, 231, 231);
}

/* Recent Replies WIDGET */

.recent-cards .recent-card-container .recent-card {
  background-color: rgb(248, 248, 248) !important;
  border: 1px dashed rgb(247, 247, 247) !important;
  border-radius: 15px !important;
}

.recent-cards .recent-card-container .recent-card h4 {
  text-align: right;
  padding-right: 12%;
  line-height: 1.5;
  font-weight: bold;
}

.recent-cards .recent-card-container .recent-card .topic-info p {
  font-size: 0.9em;
  color: rgb(161, 161, 161);
}

/* .recent-replies ul {
  display: flex;
  flex-direction: row;
  height: 100%;
  flex-shrink: 3;
} */

/* .recent-replies ul li {
  background-color: rgb(252, 252, 252) !important;
  padding: 0.8em;
  margin: 1px 4px;
  border-radius: 10px;
  background-image: repeating-linear-gradient(
    to right,
    #c4e17f 0px,
    #c4e17f 50px,
    #f7fdca 50px,
    #f7fdca 100px,
    #fad071 100px,
    #fad071 150px,
    #f0766b 150px,
    #f0766b 200px,
    #db9dbe 200px,
    #db9dbe 250px,
    #c49cdf 250px,
    #c49cdf 300px,
    #6599e2 300px,
    #6599e2 350px,
    #61c2e4 350px,
    #61c2e4 400px
  );
  background-size: 100% 6px;
  background-repeat: no-repeat;
} */

/* .recent-replies .post-preview-footer {
  margin-top: 3em !important;
  position: absolute;
  bottom: 0px;
} */

/* Homepage     ------------------------  */
.categories-title {
  margin-top: 4em !important;
}

.categories > li {
  margin-bottom: 1.3em !important;
  background-color: rgb(248, 248, 248) !important;
  border: 1px dashed rgb(247, 247, 247) !important;
  border-radius: 15px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding-top: 8px !important;
  padding-bottom: 18px !important;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.categories > li .content {
  margin-top: 1em !important;
}

.stats {
  /* font-weight: bold; */
  color: rgb(75, 75, 75);
}

.stats small {
  color: #bbb;
}

/* Single Category Page     ------------------------  */
.topic-list-header {
  margin-bottom: 4em !important;
}

.category .category-item {
  font-family: IranSans;
  margin-bottom: 1.1em !important;
  padding: 14px 15px !important;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(253, 253, 253) !important;
  border: 1px dashed rgb(250, 250, 250) !important;
  border-radius: 15px !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.07) !important;
}

.category > ul > li h2 a {
  text-align: justify;
}

.page-category .category-item small a {
  font-weight: bold;
  color: #ed4b6f !important;
}

.category > ul > li:not(.unread) h2 small.hidden-xs > a {
  font-weight: bold;
  color: #ed4b6f !important;
}

.topic .post-tools a {
  font-size: 1.1rem;
}

/* Recent Page     ------------------------  */

.page-recent {
  height: 100vh;
}

.page-recent .topic .topic-info {
  margin-bottom: 1.5em !important;
}

/* Single Topic Page     ------------------------  */

.topic .pagination-block {
  background-color: rgb(143, 143, 143);
}

.topic .pagination-block .progress-bar {
  background-color: #ed4b6f;
}

.topic .pagination-block .pagination-text {
  color: #fff;
}

.fa-angle-double-up:before {
  color: white;
}

.fa-angle-double-down:before {
  color: white;
}

.page-topic .topic .topic-header {
  margin-top: 3em;
  margin-bottom: 3em;
}

.topic [component='post/header'] {
  text-align: center;
}

.topic .posts > [component='post'] > div:not(.content) {
  margin-left: 0 !important;
}

.page-topic .topic .posts li {
  border: 1px dashed rgb(252, 252, 252);
  border-left: 8px solid rgb(231, 231, 231);
  background-color: rgb(253, 253, 253) !important;
  margin-bottom: 1.2em !important;
  border-radius: 10px !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.07) !important;
  text-align: justify;
  color: #424242;
}

.page-topic .topic .posts li strong {
  font-size: 1.15em;
}

.page-topic .topic .posts li:first-of-type .post-header {
  margin-top: 40px;
  font-size: 1.15em;
}

.page-topic .topic .posts li .post-header {
  margin-top: 15px;
  font-size: 1.15em;
}

.span.dropdown.moderator-tools.bottom-sheet.open > ul,
span.dropdown.moderator-tools.bottom-sheet.dropup.open ul li {
  background-color: white !important;
  box-shadow: none !important;
  border: none !important;
  margin: 0;
}

.span.dropdown.moderator-tools.bottom-sheet.open > ul,
span.dropdown.moderator-tools.bottom-sheet.dropup.open ul {
  border-radius: 10px;
}

.page-topic .topic .posts li p {
  font-size: 1.1em !important;
  padding: 1em;
}

@media (min-width: 768px) {
  .page-topic .topic .posts li p {
    font-size: 1.1em !important;
    padding: 1.8em 6em 0.5em 1em;
  }
}

.page-topic .post-header {
  padding-left: 2em;
  padding-right: 3em;
}

.page-topic .post-footer {
  background-color: rgb(250, 250, 250);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.topic .posts > [component='post']:not(:last-child),
.topic .timeline-event:not(:last-child) {
  padding-bottom: 0;
}

.topic .posts [component='post']:last-child:after {
  display: none;
}

.topic .posts [component='post'].highlight {
  border-color: #e9e9e9;
  box-shadow: 0 2px 2px -2px #e9e9e9;
}

.topic .posts .icon {
  margin-top: -13px;
}

.page-topic .topic .posts li .pull-left .btn {
  font-size: 0.8em !important;
  background-color: #ed4b6f !important;
  color: rgb(255, 255, 255) !important;
  padding: 4px 7px !important;
  margin-left: 1em !important;
  border-radius: 10px !important;
}

.page-topic .pull-right .timeago {
  font-size: 1em !important;
  color: rgb(204, 204, 204) !important;
}

.page-topic .pull-right a.permalink {
  text-decoration: none !important;
}

.fa-rss-square:before {
  display: none;
}

@media (max-width: 768px) {
  .topic .posts > [component='post'] {
    padding-bottom: 0;
  }

  .page-topic .topic .posts li {
    border: 1px dashed rgb(248, 248, 248);
    background-color: rgb(249, 249, 249) !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.09) !important;
  }

  .page-topic .topic .posts li .post-header {
    padding-left: 1em;
    padding-right: 0;
  }

  .page-topic .post-footer {
    background-color: rgb(245, 245, 245);
  }

  .page-topic .topic .posts li p {
    font-size: 1.1em;
    padding: 0.9em 1.2em;
  }

  .topic [component='post/reply-count'] {
    padding-left: 1.3em;
  }
}

/* Profile Page     ------------------------  */

.account .profile .fullname {
  font-size: 2.4em;
  font-weight: bold;
  color: #383838;
  margin-bottom: 8px;
}

.account .profile .username {
  color: #ed4b6f;
}

.account .profile .aboutme > p {
  font-size: 1em;
  padding-top: 8px;
}

.account .profile .account-stats {
  margin: 1em 0 0 0;
}

.account .profile .account-stats .stat {
  border: 1px dashed rgb(243, 243, 243);
  padding: 14px 16px 8px 16px;
  border-radius: 13px;
}

.account h1 {
  font-size: 1.4em;
  margin-bottom: 1.5em;
}

.posts-list .posts-list-item {
  background-color: rgb(252, 252, 252) !important;
  margin-bottom: 2.3em !important;
  border-radius: 10px !important;
  padding: 20px 0 4px 9px;
  background-image: repeating-linear-gradient(
    to right,
    #c4e17f 0px,
    #c4e17f 50px,
    #f7fdca 50px,
    #f7fdca 100px,
    #fad071 100px,
    #fad071 150px,
    #f0766b 150px,
    #f0766b 200px,
    #db9dbe 200px,
    #db9dbe 250px,
    #c49cdf 250px,
    #c49cdf 300px,
    #6599e2 300px,
    #6599e2 350px,
    #61c2e4 350px,
    #61c2e4 400px
  );
  background-size: 100% 6px;
  background-repeat: no-repeat;
}

.posts-list .posts-list-item .post-info {
  left: 90%;
}

.posts-list .posts-list-item .post-body {
  border-right: none;
}

.form-control {
  color: rgb(122, 122, 122);
  background-color: #fff;
  background-image: none;
  border: 1px dashed rgb(221, 221, 221);
  box-shadow: none;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  border-radius: 10px;
  margin-bottom: 1.5em;
}

/* HTML ELEMENTS */

/* <h1 style="color:white;font-size:2.5em;background-color:#EF476F;padding:1em;border-radius:10px;">Welcome to Ask Arya's forum</h1> */

/* <footer style="color:#ed4b6f;font-size:0.9em;font-weight:bold;margin-top:5em;margin-bottom:0;" id="footer" class="container footer">
	<div>
      Powered by 
		<a target="_blank" href="https://ask-arya.com">Ask Arya Forum</a>
	</div>
</footer>*/
