/* CREATE A FOLDER IN THE PUBLIC FOLDER CALLED "fonts" */

@font-face {
  font-family: 'IranSans';
  src: url('assets/fonts/IRANSansWeb.eot') format('embedded-opentype'),
    url('assets/fonts/IRANSansWeb.woff') format('woff'),
    url('assets/fonts/IRANSansWeb.ttf') format('truetype');
  font-weight: normal !important;
  font-style: normal !important;
}

/* All Pages     ------------------------  */
*:not(i) {
  font-family: IranSans, sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility !important;
}

.header .forum-logo {
  max-height: 23px !important;
  margin-top: 14px !important;
  padding-right: 8px !important;
}

.header .forum-title {
  display: none;
}

@media (max-width: 1199px) {
  .menu-section-list a,
  .menu-section-list button {
    padding: 14px 20px;
    font-size: 17px;
    color: rgb(212, 212, 212);
  }

  .menu-section-list i {
    margin-right: 10px;
    color: rgb(99, 99, 99);
  }
}

.navbar-nav > li > .dropdown-menu {
  border: transparent;
  margin-top: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header #chat_dropdown {
  display: none;
}

.dropdown-menu > li > a:hover {
  background-color: transparent;
  color: #ed4b6f !important;
}

.breadcrumb a {
  color: #d8d8d8 !important;
  font-size: 0.9em;
}

.breadcrumb > .active {
  color: #ed4b6f !important;
}

.btn-default {
  border-color: #f3f3f3;
  border-radius: 10px;
}

.btn-primary {
  background-color: #ed4b6f !important;
  color: #fff !important;
  border: transparent;
  border-radius: 10px;
}

.pull-right > .dropdown-menu {
  border-radius: 10px;
  border: 1px solid rgb(231, 231, 231);
}

.topic .content {
  font-size: 1.2em;
  text-align: justify;
}

.topic .posts > [component='post'] {
  border-left: 1px solid #ed4b6f;
}

/* HTML ELEMENTS */

/* <h1 style="color:white;font-size:2.5em;background-color:#EF476F;padding:1em;border-radius:10px;">Welcome to Ask Arya's forum</h1> */

/* <footer style="color:#ed4b6f;font-size:0.9em;font-weight:bold;margin-top:5em;margin-bottom:0;" id="footer" class="container footer">
	<div>
      Powered by 
		<a target="_blank" href="https://ask-arya.com">Ask Arya Forum</a>
	</div>
</footer>*/
